%h1= t('cms.admin.pages.update_page')

- form_for([:cms, :admin, @page]) do |f| 
  = render :partial => 'form', :locals => { :f => f, :button => t('form_global.update') } 

- content_for :smart_navigation do
  = link_to t('form_global.back'), cms_admin_pages_path 



